@media(max-width: 586px) {
    .nav .container {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        /* height: 120px; */
        padding: 0;
    }
}

@media(max-width: 827px ) and (min-width: 587px) {

    #news-list {
        margin-top: 200px;
    }
    .nav .container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}