@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Newsreader', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

/* --------------------- navbar code --------------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
}

/* .nav .container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
} */

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

.nav .container .logo a {
    font-size: 24px;
}

.nav .container .current a {
    color: #c0392b;
    font-weight: bold;
}

.nav .container a {
    transition: tranform 0.3s ease-in-out;
}

.nav .container a:hover {
    color: #c0392b;
    font-weight: bolder;
    font-size: 25px;
}

.nav .container {
    color: #c0392b;
    font-weight: bolder;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

input {
    height: 25px;
    border-radius: 5px;
    border: 0;
}

#form button {
    height: 27px;
    border-radius: 3px;
    border: 0;
    background-color: #299d5f;
    color: white;
    margin-left: 4px;
    cursor: pointer;
    transition: 0.3 ease;
}

#btn:active {
    scale: 0.8;
}
 
/* --------------------- main code --------------------- */

#news-list {
    margin-top: 150px;
}

.card-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    /* margin-top: 100px; */
    background-color: #fff;
    z-index: 2;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    overflow: hidden;
    margin: 7px 5px;
    border: 1px solid #796a6a;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    padding: 2.5px;
    height: 350px;
    width: 370px;
}

#thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#thumbnail img {
    height: 125px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

#thumbnail img:hover {
    scale: 1.5;
}

#thumbnail p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#thumbnail_desc {
    display: flex;

}

#card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#card-text a {
    text-decoration: none;
}

/* --------------------- footer code --------------------- */

.foot {
    position: relative;
    bottom: 0;
    background-color: #222;
    height: 75px;
    color: #fff;
    /* width: 100vw; */
    margin: 0;
}

.foot .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 100vw;
}

.foot .container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    list-style-type: none;
}

.foot .container ul a {
    text-decoration: none;
    margin: 10px;
    color: #fff;
}

.foot .container ul a:hover {
    color: #c0392b;
    font-weight: bolder;
}

#rights {
    padding: 10px;
}

