@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Newsreader', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* --------------------- navbar code --------------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

.nav .container .logo a{
    font-size: 24px;
}

.nav .container .current a{
    color: #c0392b;
    font-weight: bold;
}

.nav .container a:hover{
    color: #c0392b;
    font-weight: bolder;
}

/* --------------------- main code --------------------- */

#news-list {
    margin-top: 150px;
}
.card-container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* margin-top: 100px; */
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 5px;
    border: 1px solid #796a6a;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 120px;
    width: 120px;
    margin: 2px 2px;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5px 5px;
}

/* --------------------- footer code --------------------- */

.foot {
    position: relative;
    bottom: 0;
    background-color: #222;
    height: 75px;
    color: #fff;
    width: 100vw;
    margin: 0;
}

.foot .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.foot .container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    list-style-type: none;
}

.foot .container ul a{
    text-decoration: none;
    margin: 10px;
    color: #fff;
}

.foot .container ul a:hover{
    color: #c0392b;
    font-weight: bolder;
}

#rights {
    padding: 10px;
}

@media(max-width: 768px) {
    .nav .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }
    
    .nav ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;
    }
    
    .nav a {
        color: #fff;
        text-decoration: none;
        margin: 5px;
        font-size: 16px;
    }
    
    .nav .container .logo a{
        font-size: 20px;
    }
    
    .nav .container .current a{
        color: #c0392b;
        font-weight: bold;
    }
    
    .nav .container a:hover{
        color: #c0392b;
        font-weight: bolder;
    }
}